/*styles for my resume*/
BODY
{
  font-family: 'Montserrat', sans-serif;
  font-size:1em;
  color: #444;
}
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* banner name at top*/
#name {
  font-size:3em;
  color: #B38F9B;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

  .sectionheader {
    font-size:1.5em;
    text-transform: lowercase;
    background-color: #B38F9B;
    color:#ffffff;
font-weight: 400;
margin-bottom: 10px;
margin-top: 20px;
margin-left: 0px;
margin-right: 0px;
width: 70%;
min-width: 300px;
  }
/* this is my job title */
.jobtitle {
  font-weight:600;
  font-size:1.5em;
}
/* this is the organization */
.organization {
  font-weight: 400;
  font-size:1.25em;
}
/* this is the date */
.date {
  font-weight: 400;
  font-style: italic;
  font-size:1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

LI {
  font-size: 1em;
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

li:before {
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.menu {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;

}

.menu li {
  display: inline;
}

#degrees {
  margin-top: 5px;
  margin-bottom:0px;
  margin-left: 0px;
  margin-right: 0px;

}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #0077B5;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

#mail {
  text-align: center;
}

.center
{
  display: block;
 margin-left: auto;
 margin-right: auto;

}

.footnote {
  font-size: 12px;
}

i {
  display: inline;
}
