/*styles for my resume*/
BODY
{
  font-family: 'Open Sans', arial;
  font-size:1em;
  color: #444;
}
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* banner name at top*/
#name {
  font-size:3em;
  color:#33485e;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  min-width: 300px;
  border-bottom: 1px solid #33485e;
  margin: 0 auto;
}

#title {
  font-size:1.5em;
  text-transform: uppercase;
  color:#33485e;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  }
/* this is my section header */
  .sectionheader {
    font-size:1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color:#ffffff;
font-weight: 400;
margin-bottom: 10px;
margin-top: 20px;
margin-left: 0px;
margin-right: 0px;
width: 70%;
min-width: 300px;
  }
/* this is my job title */
.jobtitle {
  font-weight:600;
  font-size:1.5em;
}
/* this is the organization */
.organization {
  font-weight: 400;
  font-size:1.25em;
}
/* this is the date */
.date {
  font-weight: 400;
  font-style: italic;
  font-size:1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

LI {
  font-size: 1em;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

.menu {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;

}

.menu li {
  display: inline;
}

#degrees {
  margin-top: 5px;
  margin-bottom:0px;
  margin-left: 0px;
  margin-right: 0px;

}

#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;

}
