/*styles for my resume*/
BODY
{
  font-family: 'Open Sans', arial;
  font-size:1em;
  color: #444;
}
/* banner name at top*/
#name {
  font-size:3em;
  color:#33485e;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  min-width: 300px;
  border-bottom: 1px solid #33485e;
  margin: 0 auto;
}

strong {
  font-size:1.5em
  text-transform: uppercase;
  color:#33485e;
  }

  .sectionheader {
    font-size:1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color:#ffffff;
font-weight: 400;
margin-bottom: 10px;
margin-top: 20px;
margin-left: 0px;
margin-right: 0px;
width: 70%;
min-width: 300px;
  }

.jobtitle {
  font-weight:600;
  font-size:1.5em;
}

.organization {
  font-weight: 400;
  font-size:1.25em;
}

.date {
  font-weight: 400;
  font-style: italic;
  font-size:1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

LI {
  font-size: 1em;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
