#content {
  width:900px;
  margin: 0 auto;
}

h1 {
  font-family: Helvetica,sans-serif;
  font-size: 35px;
}


#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

p {
  font-family: Georgia,serif;
  font-size: 13px;
}
